bin/m65*
src/tools/version.c
.gitignore
bin/etherload
bin/giftotiles
bin/m65
bin/mega65_ftp
bin/monitor_load
bin/monitor_save
bin/pngprepare
*~
#*#
.#*
*.bin
*.gz
*.o
*.D81
*.map
*.prg
*.png
*.list
*.xz
*.exe
monitorload_dlls
test.wxs
cbmconvert

