bin/m65*
bin/mega65_ftp*
bin/m65dbg*
bin/romdiff*

bin/etherload
bin/giftotiles
bin/m65
bin/mega65_ftp
bin/monitor_load
bin/monitor_save
bin/pngprepare
bin/bit2core
bin/readdisk
bin/romdiff
bin/bit2mcs
bin/mfm-decode
src/tools/version.c
src/tools/bin2c
src/tools/ftphelper.c
*~
#*#
.#*
*.bin
*.gz
*.o
*.D81
*.map
*.prg
*.png
*.list
*.xz
*.exe
.nova
test.wxs
cbmconvert
