bin/m65*
bin/mega65_ftp*
bin/m65dbg*
bin/romdiff*

bin/*.osx
bin/*.dSYM

bin/etherload
bin/giftotiles
bin/pngprepare
bin/bit2core
bin/readdisk
bin/romdiff
bin/bit2mcs
bin/mfm-decode
bin/md2h65
bin/trenzm65powercontrol
bin/bin2c
bin/map2h
bin/bitinfo
bin/vcdgraph

src/tools/version.c
src/tools/bin2c
src/tools/map2c
src/tools/ftphelper.c
src/tools/ftphelper_eth.c
src/tools/ascii_font.c

gtest/bin/*

conan/profile_mingw-w64
/pc/

conan.lock
conanbuildinfo*
conaninfo.txt
graph_info.json

*~
#*#
.#*
*.bin
*.gz
*.7z
*.o
*.D81
*.d81
*.map
*.prg
*.png
*.list
*.xz
*.exe
.DS_Store
.nova
.vscode
test.wxs
cbmconvert
bin/*.dSYM
