language: minimal
arch: amd64
dist: focal
branches:
  except:
    - /^CI-.+$/

matrix:
  include:
    - name: MacOS native compilation
      os: osx
      osx_image: xcode14.1
      before_script:
      - HOMEBREW_NO_AUTO_UPDATE=1 brew install conan cc65 p7zip
      - pip3 install requests
      script:
      - make USE_LOCAL_CC65=1 arcmac
      - wget https://raw.githubusercontent.com/MEGA65/builder-docker/main/megabuild/filehost-upload
      - |
        if [[ "$TRAVIS_BRANCH" == "development" ]]; then
          python3 filehost-upload -i 7d96641c-b306-49cf-80ff-ea1e5d00c9d1 -a addversion -V $TRAVIS_BUILD_NUMBER -I "`git log -1 --pretty=tformat:'dev@%h: %s'`" m65tools-*-macos.7z
        fi
      before_deploy:
      - |
        if [[ -z "$TRAVIS_TAG" ]]; then
          if [[ "$TRAVIS_BRANCH" == "development" ]]; then
            export TRAVIS_TAG=CI-development-latest
          else
            export TRAVIS_TAG=CI-latest
          fi
        fi
      - echo "Publishing to $TRAVIS_TAG"
      deploy:
      - provider: releases
        api_key: $GITHUB_API_KEY
        file_glob: true
        file:
        - $TRAVIS_BUILD_DIR/m65tools-*-macos.7z
        skip_cleanup: true
        prerelease: true
        draft: false
        overwrite: true
        on:
          tags: false
          all_branches: true
          condition: $TRAVIS_BRANCH =~ ^(master|development)$
